<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
        xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
        data-namespace-typo3-fluid="true">

<f:layout name="ModuleLayout" />

<f:section name="Content">
    <h1>Newsletter Helper</h1>
    <h3>Settings not complete</h3>
    <p>Please set the required settings using then Buttons below or enter the paths to the node_modules containing mjml and the Node executable</p>


    <div class="sk-start-button-wrapper" style="display: flex; gap: 10px;">
        <f:if condition="{0:isNodePresent} == {0: NULL}">
            <f:then>
                <f:form method="POST">
                    <f:form.textfield name="checkAndSetNode" value="true" type="hidden"></f:form.textfield>
                    <f:form.textfield type="submit" value="Scan and set Node path"></f:form.textfield>
                </f:form>
            </f:then>
        </f:if>
        <f:if condition="{isNodePresent}">
            <f:then>
                <p style="color: green">Node path set to {nodePath}</p>
            </f:then>
        </f:if>
        <f:if condition="{isNodePresent} === false ">
            <f:then>
                <p style="color: red">Please install Node on your system and reload the settings page</p>
            </f:then>
        </f:if>



        <f:if condition="{0:isMjmlPresent} == {0: NULL}">
            <f:then>
                <f:form method="POST">
                    <f:form.textfield name="checkAndSetMjml" value="true" type="hidden"></f:form.textfield>
                    <f:form.textfield type="submit" value="Scan and set node_modules path containing Mjml"></f:form.textfield>
                </f:form>
            </f:then>
        </f:if>
        <f:if condition="{isMjmlPresent}">
            <f:then>
                <p style="color: green">node_modules path set to {mjmlPath}</p>
            </f:then>
        </f:if>
        <f:if condition="{isMjmlPresent} === false ">
            <f:then>
                <p style="color: red">Please install mjml on your system or use the installation button</p>
                <f:form method="POST" id="sk_mjmlInstallForm">
                    <f:form.textfield name="installMJML" value="true" type="hidden"></f:form.textfield>
                    <f:form.textfield type="submit" value="Install MJML"></f:form.textfield>
                </f:form>
            </f:then>
        </f:if>

    </div>

    <f:render partial="LoadingSpinner" arguments="{text: 'please wait for mjml to install ...'}"/>

</f:section>



</html>